In [ ]:
#list is a sequence of data points,[] indicate that elements inside form a list, not a diff type of sequence and use ' '

In [7]:
participants=['John', 'Adam', 'Jack']
print (participants[1])

Adam

In [9]:
#to get elements from end of a list
participants[-1]

'Jack'

In [29]:
#to replace value in a list
participants[2] = "James"
participants

['John', 'Adam', 'James']

In [96]:
#del deletes element in a list
participants=['John', 'Adam', 'James']
del participants[0];
participants

['Adam', 'James']

In [ ]:
# Object name.append() adds element in a list
# . is called dot operator and allows to invoke or call in a method
# extend adds element in a list. Elements must come in single quotes and []
# list elements are treated as string values
# append adds element in a list. Elements must come in double quotes and ()

In [102]:
participants=['John', 'Adam', 'James']
participants.append("Mike")
participants

['John', 'Adam', 'James', 'Mike']

In [104]:
participants=['John', 'Adam', 'James', 'Mike']
participants.extend(['George', 'Catherine'])
participants

['John', 'Adam', 'James', 'Mike', 'George', 'Catherine']

In [112]:
participants=['John', 'Adam', 'James', 'Mike', 'George', 'Catherine']
print('The first participant is ' + participants[0])

The first participant is John

In [116]:
len(participants)

6

In [118]:
#Slicing gets a smaller list out of a bigger list. 
# XYZ[a, b, c, d, e]
#To slice b and d, XYZ[1, 4]
# 4 is used instead of 3 because the formula of 2nd position is 1 + the last pos we need
participants=['John', 'Adam', 'James', 'Mike', 'George', 'Catherine']
participants[1:3]

['Adam', 'James']

In [132]:
participants=['John', 'Adam', 'James', 'Mike', 'George', 'Catherine'] 
participants[:2]

['John', 'Adam']

In [134]:
participants[4:]

['George', 'Catherine']

In [150]:
participants=['John', 'Adam', 'James', 'Mike', 'George', 'Catherine']
participants[-2:]

['George', 'Catherine']

In [164]:
#to find postition in a list
participants.index("James")

2

In [170]:
Newcomers=['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [176]:
Bigger_List=[participants, Newcomers]
Bigger_List

[['John', 'Adam', 'James', 'Mike', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [178]:
#.sort() sorts list objects
participants.sort()
participants

['Adam', 'Catherine', 'George', 'James', 'John', 'Mike']

In [180]:
participants.sort(reverse=True)
participants

['Mike', 'John', 'James', 'George', 'Catherine', 'Adam']

In [182]:
#Tuples are a type data sequence that can't be changed. Elements come in a ()
#All list are by default tuples. They're placed in (), not []
x=(2, 5, 8)
x

(2, 5, 8)

In [184]:
x[0]

2

In [186]:
y=50, 51, 52
list=[x,y]
list

[(2, 5, 8), (50, 51, 52)]

In [3]:
#Split method assigns a particular element as the method of divided each value to a var
(age, years_of_school)="30,17".split(',')
print (age)
print (years_of_school)

30
17

In [13]:
#fs can provide tuples, which hold mult values, as return values
def square_info(x):
    A=x**2
    P=A*x
    print("Area and perimeter:")
    return A, P

square_info(3)

Area and perimeter:

(9, 27)

In [17]:
#Dictionaries represent a way of storing data, each value is associated with a certain key
# Key and it's value form a key-value pair. Only {} are used. The value can be accesed using its' key
dict={'k1':"Cat", 'k2':"dog", 'k3':"mouse", 'k4':"fish"}
dict

{'k1': 'Cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [23]:
dict['k1']

'Cat'

In [25]:
#To add new value to dictionary, DicName['New key name']='new value'
dict['k5']='parrot'
dict

{'k1': 'Cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [27]:
#To replace a value
dict['k2']='squirrel'
dict

{'k1': 'Cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [83]:
dep_workers={'dep_1':['Peter'], 'dep_2':['Jen','Mike','Tom']}

In [47]:
dep_workers['dep_2']

['Jen', 'Mike', 'Tom']

In [55]:
#Alt method to make a dic
Team={}
Team['Dive']='A'
Team['Foot']='B'
Team['Race']='C'
print (Team)

{'Dive': 'A', 'Foot': 'B', 'Race': 'C'}

In [57]:
print (Team['Dive'])

A

In [75]:
print (Team.get('Foot'))

B

In [77]:
print (Team.get('Shoot'))

None

In [87]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna', 'meal_5':'Soup'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_6']=Dessert
print(Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna', 'meal_5': 'Soup', 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}